@model OnlineShops.Models.ProductCategory

<h2>Category Details</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">Category Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Parent Category</dt>
        <dd class="col-sm-10">@Model.ParentProductCategory?.Name</dd>

        <dt class="col-sm-2">Products</dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var product in Model.Products)
                {
                    <li>@product.Name</li>
                }
            </ul>
        </dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-primary">Back to List</a>
